<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>User List</h3>
<p>
  <a th:href="@{/create}">Create new user</a>
</p>
<div>
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<table border="1px">
  <thead>
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>PhoneNumber</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.phoneNumber}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>