<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<title></title>
<body>
<h3categor2>Edit Category</h3categor2>
<p>
    <a th:href="@{/category}">Back to category list</a>
</p>
<div id="form">
    <form action="#" th:action="@{/category/edit}" th:object="${category}" method="POST" novalidate="novalidate">
        <div>
            <label>Id</label>
        </div>
        <div>
            <input type="text" readonly th:field="*{id}"/>
        </div>
        <div>
            <label>Name</label>
        </div>
        <div>
            <input type="text" th:field="*{nameCategory}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>