<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<button type="button" class="btn btn-warning">
    <a class="link-light" th:href="@{/customer}">
        Back to list
    </a>
</button>
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>
<form action="#" th:action="@{/customer/edit}" th:object="${customer}"
      method="POST" novalidate="novalidate">


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" readonly th:field="*{id}"/>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
            <input type="date" th:field="*{birthDay}"/>
            <p th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            <select th:field="*{gender}">
                <option th:each="gender : ${genderList}" th:value="${gender}" th:text="${gender}">
                </option>
            </select>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Id Card</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{identityCard}"/>
            <p th:if="${#fields.hasErrors('identityCard')}" th:errors="*{identityCard}"></p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{phone}"/>
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{email}"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{address}"/>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Customer Type</label>
        <div class="col-sm-10">
            <select th:field="*{customerType}">
                <option th:each="customerType : ${customerTypeList}" th:value="${customerType.id}"
                        th:text="${customerType.nameType}">
                </option>
            </select>
        </div>
    </div>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>