<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
<button type="button" class="btn btn-warning">
    <a class="link-light" th:href="@{/customer}">
        Back to list
    </a>
</button>
<div class="row">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birth Day</th>
            <th>Gender</th>
            <th>Id Card</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Customer Type</th>
        </tr>
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.birthDay}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.identityCard}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.customerType.nameType}"></td>
        </tr>
    </table>
</div>
</body>
</html>